@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body, input {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar .brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}	

#table_detail {	} 
/*#table_detail tr:hover { background-color: #F2F2F2; } */
/*#table_detail tr:hover { border:1px solid darkgrey; } */
#table_detail tr.detail:hover { background-color: white; }  
#table_detail .hidden_row { display: none; } 



tbody>tr>:nth-child(3) { padding:2px 10px 10px 10px; }

tbody>tr>:nth-child(3),
tbody>tr>:nth-child(4),
tbody>tr>:nth-child(5),
tbody>tr>:nth-child(6),
tbody>tr>:nth-child(7),
tbody>tr>:nth-child(8){
 text-align:center;
}
tbody>tr>:nth-child(7){
 font-weight:bold;
 font-size:18px;
 padding-left:20px;
}
tbody>tr>:nth-child(8){
 color:grey;
}

table.article-outline>tbody>tr>:nth-child(2),
table.article-outline>tbody>tr>:nth-child(3),
table.article-outline>tbody>tr>:nth-child(4){
 padding:15px;
 text-align:center;
 width:68px;
}
table.article-outline>tbody>tr>:nth-child(5){
 padding:16px;
 text-align:center;
 width:106px;
 }

.cursor {cursor: pointer;}

#arrow1 { transition: all .4s ease-out;}
#arrow2 { transition: all .4s ease-out;}
#arrow3 { transition: all .4s ease-out;}
#arrow4 { transition: all .4s ease-out;}
#arrow5 { transition: all .4s ease-out;}
#arrow6 { transition: all .4s ease-out;}
#arrow7 { transition: all .4s ease-out;}
#arrow8 { transition: all .4s ease-out;}
#arrow9 { transition: all .4s ease-out;}
#arrow10 { transition: all .4s ease-out;}

.rotate { transform: rotate(180deg); }

.article-outline {
	border:.5px lightgrey solid;
	border-radius:5px;
	margin-top:7px;
	border-collapse:separate;
}
.article-outline.first { margin-top: -3px; }

.researcher-name { 
	margin-bottom:-5px; }

.article-chunk {
	width:305px;
	padding-left:35px;}

.article-title { font-size:13px;}
.author-line { font-size:11px; }
.authors-text { color:green; }
.journal-name { 
	color:#b0afaf; 
	font-style: italic;}

.light-grey { color:#b0afaf; }
.grey { color: grey; }
.dark-grey { 
	color: darkgrey;
	margin-top:4px;}
.view-articles { 
	font-size:1.5em;
	vertical-align:bottom;
	 }
.website-icon {
	font-size:.9em;
	color:lightgrey;}
.gs-icon { 
	font-size:1.35em;
	color:lightgrey;
	vertical-align:bottom;}
.cs-icon { 
	margin-top:-1px;
	width:23px;
	opacity:.55;}
.cs-icon-header { 
	margin-top:-1px;
	width:41px; }
.CS-icon-table { width:39px; }
.CS-icon-table-RNM { width:32px; }
.OA-icon-table { width:18px; }
.OD-icon-table { width:20px; }
.BR-icon-table { width:23px; }
.scihub-icon-table { 
	color:#99b3ff;
	font-size:1.6em;
	vertical-align:middle;
	margin-bottom:-2px;}
.info-icon {
	font-size:.75em;
	margin-top:-2px;
}
.checkmark-icon { margin-left:2px; }
.x-icon { margin-left:2px; }
.hr-bar {
	margin-top:.4rem;
	margin-bottom:.4rem; }
	
.expand-button { 
	display:inline-block; 
	border:1px solid #F8F8F8; 
	border-radius:5px; }
.flashing {
	animation: blink .75s step-end infinite alternate; 
	animation-iteration-count: 10;
	border: 1px solid #F8F8F8;
	border-radius:5px;
}
@keyframes blink { 50% { border-color: #000000; }  }

tr:hover .expand-button { 
	border:1px solid darkgrey; 
	border-radius:5px;}

.affiliation { 
	font-size:11px; 
	color:#b0afaf; 
	margin-top:-3px;
	font-style:italic;
	}
	
.compliant-green { background-color:#f5fff5; }
.non-compliant-yellow { background-color:#fffff5; }

.RNM-text { font-size:10px;}
.popup-notes-text-BR {
	font-size:10px;
	line-height:11px;
	margin-top:5px;
	color:darkgrey;}
.popup-notes-text {
	font-size:11px;
	color:darkgrey;}

.article-table-CS-column { padding-left:3px;}

.met-text {
	font-weight:bold;
	color:green;
}
.not-met-text {
	font-weight:bold;
	color:gold;
}
.faq { 
	font-size:15px;
	line-height:1.35rem;}
.faq.q { font-weight:500;}
.faq.a { 
	margin-bottom:15px;
	color:#797878; }

.popUpStyle {
	font-size:12px;
	line-height:normal;
	border:1px solid darkgrey;
	border-radius:4px;
	background-color:white;
	padding:5px;
	z-index:9998; }
.popupWrapper {
	min-width:315px;
	text-align:left;
}
.popupWrapperBR {
	min-width:350px;
	text-align:left;
}
.popUpOnHover { 
	position:relative; 
	border-bottom:1px dotted grey;
}
.popUpOnHover:hover span.oa-popup-header { display:block; }
.popUpOnHover:hover span.od-popup-header { display:block; }
.popUpOnHover:hover span.br-popup-header { display:block; }
.popUpOnHover:hover span.t-standard-popup-header { display:block; }
.popUpOnHover:hover span.oa-popup { display:block; }
.popUpOnHover:hover span.od-popup { display:block; }
.popUpOnHover:hover span.od-popup-RNM { display:block; }
.popUpOnHover:hover span.br-popup { display:block; }
.popUpOnHover:hover span.t-standard-popup { display:block; }
.popUpOnHover:hover span.t-standard-popup-RNM { display:block; }
.popUpOnHover:hover span.od-popup-notes { display:block; }
.popUpOnHover:hover span.od-popup-RNM-notes { display:block; }
.popUpOnHover:hover span.br-popup-notes { display:block; }
.popUpOnHover:hover span.br-popup-notes-long { display:block; }
.oa-popup-header {
	display:none;
	position:absolute; 
	top:-78px; 
	left:-12px; }
.od-popup-header {
	display:none;
	position:absolute; 
	top:-119px; 
	left:-12px; }
.br-popup-header {
	display:none;
	position:absolute; 
	top:-119px; 
	left:-12px; }	
.t-standard-popup-header {
	display:none;
	position:absolute; 
	top:-132px; 
	left:3px;}
	
.oa-popup {
	display:none;
	position:absolute; 
	top:-81px; 
	left:-12px; }
.od-popup {
	display:none;
	position:absolute; 
	top:-78px; 
	left:-12px; }
.od-popup-RNM {
	display:none;
	position:absolute; 
	top:-73px; 
	left:-12px; }
.br-popup {
	display:none;
	position:absolute; 
	top:-78px; 
	left:-12px; }
.t-standard-popup {
	display:none;
	position:absolute; 
	top:-117px; 
	left:3px;}
.t-standard-popup-RNM {
	display:none;
	position:absolute; 
	top:-113px; 
	left:3px;}

.od-popup-notes {
	display:none;
	position:absolute; 
	top:-90px; 
	left:-12px; }
.od-popup-RNM-notes {
	display:none;
	position:absolute; 
	top:-87px; 
	left:-12px; }
.br-popup-notes {
	display:none;
	position:absolute; 
	top:-103px; 
	left:-12px;
	/*min-height:120px;*/}
.br-popup-notes-long {
	display:none;
	position:absolute; 
	top:-145px; 
	left:-12px;
	min-height:148px;}
	
.popUpOnHoverTwidget { 
	position:relative; 
	display:inline-block;
}
.popUpOnHoverTwidget:hover span.t-widget-percentage { display:block; }
.t-widget-percentage {
	display:none;
	position:absolute; 
	top:-139px; 
	left:-5px; }
.badge {
	border:1px solid darkgrey;
}
.small-icon-OD {
	font-size:1.5em;
	color:#9b9b9b; 
	vertical-align:bottom;}
.transp-square { 
	width:15px;
	height:20px;}
.external-link {
	margin-left:2px;
	color: #0056b3b0;
}
.td-vert-tweak { margin-top:-8px; }
.author-verified {
	color:grey;
	font-size:16px; }
.faq-coi-bolded {
	font-weight:bold;
	color:green; }	
